:root {
    --gray-100: #f2f2f2;
    --gray-200: #d9d9d9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;

    --purpleDark-700: #5e60ce;
    --purple-500: #8284fa;

    --blue-300: #4ea8de;
    --blue-500: #1e6f9f;

    --red-500: #e25858;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--gray-700);
    color: var(--gray-100);
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}